{% extends "siscontrol/base-siscontrol.html" %}
{% block headers %}
<br><br><br>
    
     {% if request.user.turno == 'Ma' %}
                {% include 'navbar-alu.html' %} 
              {% elif request.user.turno == 'Ve' %} 
                {% include 'navbar-alu.html' %} 
              {% elif request.user.turno == 'Mi' %}
                {% include 'navbar-doc.html' %}
              {% elif request.user.turno == 'Di' %}
                {% include 'nav-bar-dir.html' %}
              {% else %}
                {% include 'nav-bar-ad.html' %}
              {% endif %} 
    
{% endblock %}              
{% load static %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<br><br><br><br><br>
<div class="w3-container w3-flat-clouds">

<div class="row">
    <div class="col-md-9 login-sec">
        <h2 class="text-center">CAMBIA TU CONTRASEÑA</h2>
        
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="col-lg-5 col-md-6" ><input type="password" name="old_password" required
              id="id_password" class="text-center" placeholder="anterior Contraseña"/>
              <br></br>
        <input type="password" name="new_password1" required
              id="id_password" class="text-center" placeholder="nueva Contraseña"/>
              <br></br>
        <input type="password" name="new_password2" required
              id="id_password" class="text-center" placeholder="confirmar Contraseña"/></div> 
              <br></br> 
        <button type="submit" class="btn btn-primary">Cambiar</button>
    </form>
</div>
</div>
</div>
<style> 
input {
  width: 80%;
}


</style>



{% endblock %}