{% extends 'siscontrol/base-siscontrol.html' %}

{% block title %}{% endblock %}

{% block background %}}{% endblock %}

{% block headers %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<br>
    <br>
        <br>
           {% include 'navbar-alu.html' %} 
              
    
{% endblock %}              

{% block content %}
{% if cal %}
            <!-- Proyecto -->
    <div class="row project" >
    
          <table class="table table-bordered" >
            <thead>
              <tr>            
                <th>Matricula</th>
                <th>Materia</th>
                <th>Calificacion final</th>
              </tr>       
            </thead>
      
     
          {% for n in cal %}
            <tbody>
              <tr>
                <td>{{n.matricula}}</td>
                <td>{{n.materia}}</td>
                <td>{{n.calificaci}}</td>
              </tr>
            </tbody>
          </table>
        </div>      
       </div>
{% endfor %}
{% else %}
   <h1>No tienes calificaciones parciales</h1>
{% endif %}
            </div>
          </div>
        </br>
    </br>
</br> 
{% endblock %}