<header id = "header">
    <div class="container-fluid" style="background-color: #0080FF;" >
      <div id="logo" class="pull-left">
        <h1><a href="{% url 'control' %}" class="scrollto">Director</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
     
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% if not request.user.is_authenticated %}
            <li class="nav-link">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
               
            {% else %}
              <li class="menu-active">
                <p style="color:write;"><a  class="nav-link" href="{% url 'logout' %}">Cerrar sesion</></a></p>
              </li>
               <li class="menu-active">
                <p style="color:write;"><a class="nav-link" href="/">Plataforma web</></a></p>
              </li>
            {% endif %}
         
            <li>
              <a href="{% url 'infdoc' pk=user.id %}">Datos personales</a>
            </li>
                 
            <li>
              <a href="{% url 'camb_password' %}">Cambiar contraseña</a>
            </li>

            <li class="nav-menu-children">
                    <a class="nav-link" href="{% url 'list-comunicado' %}">Comunicados</a>
                    <ul>
                       <li>
                          <a href="{% url 'subircomunicado' %}">Subir Comunicados</a>
                        </li>
                    </ul>
            </li>
      </nav><!-- #nav-menu-container -->
    </div>
</header>